<h1>Angular|Bitstamp</h1>
<div class="gauge-chart-section">
  <dx-circular-gauge
    [value]="gaugeValue | async"
  >
    <dxo-scale
      [startValue]="gaugeMin | async"
      [endValue]="gaugeMax | async"
      [tickInterval]="gaugeTickInterval | async"
    >
    </dxo-scale>
  </dx-circular-gauge>
</div>
<div class="line-chart-section">
  <dx-sparkline
    [dataSource]="chartDataSource | async"
    [showMinMax]="true"
    lineColor="gray"
  >
  </dx-sparkline>
</div>
<div class="data-grid-section">
  <dx-data-grid
    [dataSource]="gridDataSource | async"
  >
    <dxi-column dataField="timestamp" sortOrder="desc"></dxi-column>
    <dxi-column dataField="amount"></dxi-column>
    <dxi-column dataField="price"></dxi-column>
  </dx-data-grid>
</div>
